@import "../../styles/mixins";

html,
body,
section {
  height: 100%;
  margin: 0;
}

.App {
  text-align: center;
  height: 90em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../assets/Backgrounds/Background.png);
  background-size: 205em;
  background-repeat: no-repeat;
  background-position: 52% 56%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.component-container {
  @include general-container;
}
