@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.page-questlog {
  font-family: "Press Start 2P", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../assets/Backgrounds/Bkg_QuestLog.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.quest-record {
  height: 8em;
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.quest-record-info-wrapper {
  height: 100%;
}

.quest-log-page-title {
  font-size: xx-large;
  margin-top: 1.5em;
  text-align: center;
}
